ct-scale(numbawang = 1, rat = ratio, relative = true)
  return unit(numbawang * rat, relative is true ? em : rem)

ct-presets(ratio = golden, relative = true, response = false)
  //html
  html
    font-size: 16px
    if response
      +below('l')
        font-size: 14px
      +below('m')
        font-size: 12px
      +below('s')
        font-size: 16px
      +below(340px)
        font-size: 12px
  // Headers
  h1, h2, h3, h4, h5, h6
    margin:    0
    line-height: 1.2
  h1
    font-size:     ct-scale(2, ratio, relative)
  h2
    font-size:     ct-scale(1.75, ratio, relative)
  h3
    font-size:     ct-scale(1.5, ratio, relative)
  h4
    font-size:     ct-scale(1.25, ratio, relative)
  h5
    font-size:     ct-scale(1, ratio, relative)
  h6
    font-size:     ct-scale(.75, ratio, relative)

  // Base
  p, ul, ol, label, input, textarea, fieldset, dl, blockquote, div
    font-size:     ct-scale(1, ratio, relative)
    line-height: 1.5
    margin: 0
    padding: 0
  ul
    padding-left: ct-scale(1.2, ratio, relative)
  ol
    padding-left: ct-scale(1.3, ratio, relative)
  li, dd
    margin: 0
  dt
    font-weight: bold
  blockquote
    cite
      display: block