//edit()
ct-presets(0.8125, false, false)
t-headers(arial-font)


*, *:after, *:before
  box-sizing border-box
  position: relative
  -webkit-font-smoothing: antialiased

body
  overflow-x hidden
html
  font-family: arial-font
  color: low-col
  background-color: #fff
  #browse-happy
    display none
    padding: 1em
    background-color: browse-happy-col
    color: high-col
    fixed left top
    width: 100%
    z-index: 9999
    >p
      font-size: .8rem
      margin: 0
      padding: 0
  &.no-svg
  &.no-canvas
    #browse-happy
      display block
    #content
      display none
  &.svg
  &.canvas
    #content
      display block