flex_adjacent_padding(half-pad = 1rem)
  &:nth-child(2n)
      padding-left: half-pad
  &:nth-child(2n+1)
      padding-right: half-pad
      
button(bc, use_factor=fasle, lightness_factor=60%)
  cursor: pointer
  transition background-color .3s ease
  &:hover
  &.selected
    if use_factor
      background-color: bc
    else
      background-color: lightness(bc, lightness_factor)

columns(num_cols = 3, gutter = 1, below-size='m')
  width: 100%
  .column
    col(1/num_col, gutter:gutter, cycle: num_col)
    padding: pad
    margin-bottom: pad
    +below(below-size)
      stack()

set_margine_last_children(num, val=0)
  &:nth-last-child(-n+{num})
    margin-bottom: val

content-card(left-side=true, width-static-column=20em, below-size='s')
  display: table
  width: 100%
  font-size 1rem
  .left
  .right
    display: table-cell
    vertical-align: top
  .right
    if !left-side
      width width-static-column
  .left
    if left-side
      width width-static-column
    //padding-right: pad
    .picture
      width: 100%
  +below(below-size)
    display: block
    .left
    .right
      display: block
    .left
      width: auto
      padding: 0


icon(size_icon = 1.5em)
  &:before
    content: ""
    display: inline-block
    size size_icon
    vertical-align: middle
    margin-right: (pad/2)
    background-size cover
    background-image: url(http://khuralsearch.com/time-8-256.png)



//decorators of text info
.dec--sequence
  &:before
    content ', '

.dec--property
  &:before
    content ': '

.dec--equal
  &:before
    content ' - '

.dec--spaced
  &:before
    content '  '

.dec--spaced2x
  &:before
    content '  '
  &:after
    content '  '

.dec--counted
  &:after
    content ') '
  &:before
    content ' ('

.dec--secondary
  &:before
    content " / "

.dec--factor
  &:before
    content " / "

.dec--doted
  &:after
    content "..."

.dec--percents
  &:after
    content '%'