high-col = white
low-col = black
fade-col = #ccc
point-col = #aca494
breadcrumps-col = #999999
rambler-footer-col = #888888
rambler-footer-text-col = #a8a8a8
other-content-col = #f2f2f2
beta-col = #d9e0eb
beta-text-col = #5f6164
more-btn-col = #e8e9ef


pad = 1rem
large-pad = (pad*2)
xlarge-pad = (large-pad*2)
middle-pad = (pad/2)
small-pad = (middle-pad/2)

xlarge-size = 1280px
large-size = 1024px


arial-font = Arial, sans-serif


positive-color = #659a2b
negative-color = #ff595b
em-color = #0099ff
main-color = #333333
sub-color = #666666
sub-color-2 = #999999
bg-color = #f7f7f7
bg-color-2 = #e0e8e9
browse-happy-col = orange